<div class="card m-3 card-hover" style="width: 18rem;">
    <img [src]="product.imageURL" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h5 class="price">${{product.price}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
        </p>

        <p [style.color]="product.is_in_inventory ? 'green' : 'red'">
            {{product.is_in_inventory ? product.items_left+ "left" : "Out of Stock"}}
        </p>
    </div>
</div>